<!DOCTYPE html>
<html>
  <head>
    <% # https://stackoverflow.com/questions/21332504/dynamic-titles-for-each-page %>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th{
      padding-right: 10px;
      padding-left: 10px;
    }

    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <br />
    <br />
    <br />
    <%= yield %>
  </body>
</html>
